{% load i18n %}
{% extends "base_generic.html" %}
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>

{% if request.user.is_authenticated %}
    {% trans 'Добро пожаловать на сайт,'%} {{ request.user.first_name }}

    <p>{% trans 'День рождения:'%} {{ request.user.profile.date_of_birth }}</p>
    <p>{% trans 'Город:'%} {{ request.user.profile.city }}</p>
{% else %}
    {% trans 'Вы неавторизованы на нашем сайте.' %}
    <a href="{% url 'login' %}">Войти</a>
{% endif %}
<h2>{% trans 'Я - главная страница'%}</h2>
</body>
</html>
