<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>
{% if request.user.is_authenticated %}
 <h3>Добро пожаловать на сайт {{request.user.first_name}}</h3>
    <p>День рождения {{request.user.profile.date_of_birth}}</p>
    <p>Город {{request.user.profile.city}}</p>
    <p><a href="{% url 'news' %}">Новости</a></p>
    <p><a href="{% url 'advertisements' %}">Обьявления</a></p>
    <p><a href="{% url 'account' %}">Аккаунт</a></p>
    <p><a href="{% url 'logout' %}">Выйти</a></p>
{% else %}
 <h3>Вы не авторизованы на нашем сайте</h3>
 <a href="{% url 'login' %}">Войти</a>
{% endif %}
</body>
</html>